/* You can add global styles to this file, and also import other style files */
@use 'ngx-toastr/toastr'

body
  font-family: 'Roboto'
  border: 0
  margin: 0

app-root
  display: flex
  flex-direction: column
  align-items: center
